* {
  margin: 0;
  padding: 0; }

.cuerpo {
  font-family: 'Faustina', serif;
  margin: 0 auto;
  background-color: #66cdaa; }

.cabecera {
  background-color: #191970; }
  .cabecera.navbar-collapse {
    flex-grow: initial;
    flex-direction: column; }
  .cabecera.navbar-nav .nav-item .nav-link {
    color: cyan;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif; }

h1 {
  display: flex;
  color: blanchedalmond;
  text-align: center;
  font-size: 45px;
  font-family: 'Merienda', cursive;
  font-weight: 100px;
  margin: 30px;
  height: 100px;
  width: 600px; }
