* {
    margin: 0;
    padding: 0;
}

.html {
    height: 100%;
}

.cuerpo {
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "cabecera"
        "principal"
        "pie";
    grid-template-columns: 100%;
    background-color: map-get($colores, "color-principal");
    color: map-get($colores, "color-secundario");
    font-family: map-get($tipografia, "letra-principal");
}

.cabecera {
    background-color: map-get($colores, "color-terciario");
    display: flex;
    grid-area: cabecera;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-collapse {
    flex-grow: initial;
    flex-direction: column;
}

.navbar-nav .nav-item .nav-link {
    color: map-get($colores, "color-principal");
    font-size: 15px;
    font-family: map-get($tipografia, "letra-secundaria");
}

h1 {
    display: flex;
    color: map-get($colores, "color-cuarto");
    text-align: center;
    font-size: 45px;
    font-family: map-get($tipografia, "letra-terciaria");
    font-weight: 100px;
    margin: 30px;
    height: 100px;
    width: 600px;
}

.principal {
    grid-area: principal;
    padding: 10px;
    height: 100%;
}

.pie {
    background-color: map-get($colores, "color-terciario");
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    grid-area: pie;
    align-items: center;
    width: 100%;
}

.pie__anchor {
    width: 10px;
    padding: 20px;
    color: map-get($colores, "color-principal");
}